<%= form_for @estate do |f| %>
  <%= form_error_messages(@estate) %>
  <fieldset id="name">
    <legend><span>Change Name</span></legend>
  <ol>
    <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  </ol>
  </fieldset>
  <fieldset id="submitform">
    <%= f.submit "Rename Estate" %>
  </fieldset>
<% end %>
