<div id="top_nav">
  <%=link_to "Home", root_path %> |
  <%=link_to "Items", items_path %> |
  <%=link_to "Buildings", building_types_path %> |
  <%=link_to "Starship Types", starship_types_path %> |
  <%=link_to "Starship Configurations", starship_configurations_path %>
</div>
